.main{
    margin: auto;
    padding: 10px;
    background-color: red;
    height: 200px;
    width: 20%;
}

.count{
    margin: auto;
    font-size: 30px;
}

button{
    border: none;
    padding: 5px;
    font-size: larger;
    border-radius: 5px;
    box-shadow: 1px 1px blue;
}